<!DOCTYPE html>
<html>
<head>
	<title>PortFolio</title>
	<link rel="stylesheet" href="styles.css">
	<style>
	body {
		background-color: white;
	}
	</style>
</head>

<body>	
	 <!-- ======= Header ======= -->
  	<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    		

  	</header><!-- End Header -->
	<main id="main">
	<!-- ======= Hero Section ======= -->
  	<section id="hero">
	    <div class="hero-container">
		<img src="PassportSizePhoto.jpg" alt="Abdullah Firdowsi" width="110" height="150" style="float:right;">
		<h1 id="name">Abdullah Firdowsi</h1>
		<h4 style="color:brown;font-size: 150%;"><i>Department of Artificial Intelligence and Data Science</i></h4>
	    </div>
  	</section><!-- End Hero -->

	<!-- ======= About Me Section ======= -->
    	<section id="about" class="about">
		<div style="background-color:white;color:#2370c2;padding:20px;">
			<h3 style="color:brown;font-size: 300%;text-align:center;font-family: verdana;"><em>About me</em></h3>
			<p> Passionate about Artificial Intelligence and dedicated to continuous learning and growth, I am currently pursuing a Bachelor of Technology (B.Tech) degree in Artificial Intelligence and Data Science at Karpagam College of Engineering.Throughout my academic journey, I have learned Machine Learning with Python and R programming. I have practiced creating various suitable ML models for given datasets and gained hands-on experience in developing diverse ML models tailored to specific datasets. I diligently identify and implement the most effective solutions. Additionally, I have extensively explored the realms of Data Visualization using Tableau and Excel, enabling me to deliver not only interactive but also insightful dashboards.<br>I am excited to collaborate with like-minded professionals and make a positive impact in the field. If you are looking for a motivated, energetic, and collaborative team member, let's connect and embark on a journey towards mutual success!</p>
		
		</div>
	</section><!-- About me Section -->

</body>
</html>